<div class="container">
  <div id="main">
  </div>
</div>

<script>
  var _quizzes_source = null
  const MESSAGE_TYPE_READY = `SHOW:{{instanceKey}}:READY`
  const MESSAGE_TYPE_LOADED = `SHOW:{{instanceKey}}:LOADED`
  const MESSAGE_TYPE_RENDERED = `SHOW:{{instanceKey}}:RENDERED`
  const RECEIVED_MESSAGE_TYPE_INITIALIZE = `SHOW:{{instanceKey}}:INITIALIZE`
  $(document).ready(function() {
  })
  var _config = {
    qid: null,
    url: "https://was-public-app-poc-qa-elb-30017-1805734056.us-east-1.elb.amazonaws.com",    //WAS Services root url
    context: "ab@ab.com",               //context
    renderTitle: false,
    state: null,
    renderMode: "passive",
    policies: null
  }
  function postReady() {
    if (!_quizzes_source)
      return
    _quizzes_source.postMessage({
      type: MESSAGE_TYPE_READY
    }, '*')
  }
  function postLoaded() {
    if (!_quizzes_source)
      return
    _quizzes_source.postMessage({
      type: MESSAGE_TYPE_LOADED
    }, '*')
  }
  function postRendered(height) {
    if (!_quizzes_source)
      return
    _quizzes_source.postMessage({
      type: MESSAGE_TYPE_RENDERED,
      height: height
    }, '*')
  }
  var _initialized = false;
  function handleInitialData(itemBody, interactionData, scoringData) {
    console.log('show handleInitialData')
    console.log(itemBody)
    console.log(interactionData)
    console.log(scoringData)
    if (!interactionData.qid || !interactionData.policies)
      return
    // TODO: deep equals here to compare policies
    if (!_initialized || (interactionData.qid != _config.qid)) {
      _config.qid = interactionData.qid;
      _config.policies = interactionData.policies;
      _initialized = true;
      window.WAS.player.onLoad(function() {
        $('#main').html('');
        var question = window.WAS.createQuestion('#main', _config)
        .on('questionLoaded', function() {
          postRendered(document.body.scrollHeight)
        }).render();
      })
    }
  }
  function receiveMessage(event) {
    // TODO: Add event.origin logic here
    // if (event.origin !== 'http://localhost:8080')
    //   return
    switch (event.data.type) {
      case RECEIVED_MESSAGE_TYPE_INITIALIZE:
        handleInitialData(event.data.itemBody, event.data.interactionData, event.data.scoringData)
        _quizzes_source = event.source
        break
      default:
        break
    }
  }
  window.addEventListener('message', receiveMessage, false)
</script>