<html>
  <head>
    <title>WAS</title>
    <link href="//was-public-app-poc-qa-elb-30017-1805734056.us-east-1.elb.amazonaws.com/was-frontpage/css/was-main.css" rel="stylesheet" type="text/css"/>
    <script src="//was-public-app-poc-qa-elb-30017-1805734056.us-east-1.elb.amazonaws.com/was-frontpage/js/app/questionViewApp.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>